*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
/* ---------------------HEADER-------------------------------------- */
header{
    height: 70px;
    max-width: 100%;
    padding: 10px;
    background-color: #ff6900;
    margin-bottom: 60px;
}
.contenitor{
    display: flex;
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.header-box-left{
   width: 30%;
}
ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    line-height: 50px;
}
.header-box-center{
    width: 40%;
    display: flex;
    justify-content: center;

}
.header-box-center img{
    max-height: 100%;
}
.header-box-right{
    display: flex;
    justify-content: end;
    width: 35%;
}
/* --------------------------MAIN-------------------------------------- */
.box{
    max-width: calc(100% / 3);
    max-height: 700px;
    padding-left: 14px;
    padding-bottom: 40px;
}
.box img{
    max-width: 100%;
    position: relative;
}
.relativ{
    position: relative;
    max-width: 100%;
    /* max-height: 100%; */
}
.discount{
    position: absolute;
    bottom: 40px;
    background-color: red;
    padding: 4px 10px;
}
.sustainability{
    position: absolute;
    bottom: 40px;
    left: 60px;
    background-color: green;
    padding: 4px 10px;
}
.last-sustainability{
    left: 0px;
}
.heart{
    position: absolute;
    top: 14px;
    right: 0;
    background-color:white ;
    padding: 4px 10px;
    font-size: 40px;
}
.price {
    color: red;
    display: inline-block;
}
.box p:nth-child(5){
    text-decoration: line-through;
    display: inline-block;
    padding-left: 6px;
}
/* ------------------------HOVER---------------------------------------- */
.under-img{ 
    position : absolute;
    z-index: -1;
}
.relativ img:first-child{
    opacity: 1;
    position: absolute;
}
.relativ img:first-child:hover{
    opacity: 0;
}


/* -------------------------FOOTER----------------------------------------- */
footer{
    background-color: black;
    height: 110px;
    max-width: 100%;
    color: white;
    padding: 30px;
}
.footer-box-left{
    width: 50%;
}
.footer-box-left li{
    padding: 10px 12px 0 0 ;
}
.footer-box-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    height: 100%;
}
.footer-box-right h3{
    font-family: 'Protest Strike' ;
    font-size: 16px;
}


